<h3> Добро пожаловать в нашу пиццерию! </h3>
<button class="btn btn-primary" onclick="something()"> Заказать </button>
<h4> Приятного аппетита! </h4>
<script>
function something()
{
    alert ('Ваш заказ принят. Спасибо что выбрали нас.')
}
</script>


